<div class="left">
  <h2 class="dash"><img src="/images/logoRed.svg" class="dashImg" />Dashboard</h2>
  <ul class="dashLink" id="cssmenu">
    <li class="actLi"><a href="#" class="slideClick">Website<img src="/images/menuDown.svg" class="whiteDown" /></a>
      <ul class="subMenu">
        <li><a href="/contact" class="topnav-item leftActive">Contact</a></li>
        <li><a href="/footerContact" class="topnav-item leftActive">Footer Contact</a></li>
        <li><a href="/subscription" class="topnav-item">Subscription</a></li>
        <li><a href="/resources" class="topnav-item">Resources</a></li>
        <li><a href="/aws-marketplace" class="topnav-item">AWS Marketplace</a></li>
      </ul>
    </li>
    <li class="actLi"><a href="#" class="slideClick">Events<img src="/images/menuDown.svg" class="whiteDown" /></a>
      <ul class="subMenu">
        {{!-- <li><a href="/seamless" class="topnav-item">Seamless Event</a></li> --}}
        <li><a href="/microfinance" class="topnav-item"> Micro finance</a></li>
        <li><a href="/global-fintech" class="topnav-item"> Global Fintech</a></li>
        <li><a href="/singapore-fintech" class="topnav-item"> Singapore Fintech</a></li>
        <li><a href="/join-the-fun" class="topnav-item"> Join the fun</a></li>
      </ul>
    </li>
  </ul>
</div>
<script src="/js/left.js"></script>
