<div class="left">
  <h2 class="dash"><img src="/images/livquik-logo.png" class="dashImg" />Dashboard</h2>
  <ul class="dashLink" id="cssmenu">
      <li><a href="/livquik-contact" class="topnav-item leftActive">Contacts</a></li>
      <li><a href="/livquik-careers" class="topnav-item leftActive">Careers</a></li>
      <li><a href="/livquik-quikwallet" class="topnav-item leftActive">Quikwallet</a></li>
  </ul>
</div>
<script src="/js/left.js"></script>
