<div class="left">
  <h2 class="dash"><img src="/images/logoRed.svg" class="dashImg" />Dashboard</h2>
  <ul class="dashLink" id="cssmenu">
      <li><a href="/paylater" class="topnav-item leftActive">Contacts</a></li>
  </ul>
</div>
<script src="/js/left.js"></script>
