<div class="tableBack">
    <div class="container-fluid no-Pad">
        <div class="overall-div">
            {{> left}}
            <div class="content-div">
                {{> header}}
                <div class="content">
                    <div class="noData"> No Data Found </div>
                    {{!-- <div class="footer">
                        <p> Powered by</p>
                        <a href="#"><img src="./images/logoRed.svg" width="20px" height="20px" /></a>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>
</div>
