<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=`, initial-scale=1.0" />
    <title>AUTHORIZATION IS REQURIED</title>
    <link rel="stylesheet" href="/css/error.css" />
  </head>

  <body>
    <div class="error">
      <div class="errorContainer">
        <div class="content">
          <h3> <span> 401 </span> ERROR</h3>
          <h2>AUTHORIZATION IS REQURIED</h2>
          <p>Proper authorization is requried to access this resource.</p>
          <div class="btnsContainer">
            <button class="color"><a href="/login">Back </a></button>
            <button><a href="/login">Home</a></button>
            <button class="color mob">Back</button>
          </div>
        </div>
        <div class="imgContainer">
          <img src="/images/errorImg/401.svg" alt="AUTHORIZATION IS REQURIED" />
        </div>
      </div>
    </div>
  </body>

</html>